@import url("../../../css/iconimgSkin/green/iconStyle.css");
@charset "gb2312";
/* CSS Document */
/*	Date:2012-12-14;
	author:qwguo;
	purpose:¹ØÓÚÄ£°æµÄ»ù±¾ÑÕÉ«µÄÉèÖÃ;
*/
/*---------------¹ØÓÚÄ£¿éÔ²½ÇÍâ¹ÛµÄÑùÊ½£¬Èç¹ûÉè¼ÆÍ¼ÊÇÔ²½ÇÉèÖÃ------------------*/
/*------Ò»¼¶À¸Ä¿Ô²½ÇµÄ»ù±¾ÑùÊ½--------------*/
.WebC_1{}/**Ò»¼¶¼¶À¸Ä¿Ä£¿é**/
  .WebC_1 .WebCT,.WebC_1 .WebCB{margin:0px 4px;}/**Ò»¼¶¼¶À¸Ä¿ÉÏÏÂ±ß**/
	.WebC_1 .WebCTM,.WebC_1 .WebCBM{/*background-image:url(../images/WebC_1_TB.png);*/ height:0px; overflow:hidden;display:none;}/**Ò»¼¶¼¶À¸Ä¿ÉÏÏÂ±ßÏß**/
	.WebC_1 .WebCTM{background-position:0 0;}/**--ÉÏ±ßÏß±³¾°¶¨Î»--**/
	.WebC_1 .WebCBM{background-position:0 -15px; border-bottom:1px solid #91e2d9; height:3px; background-color:#fff;}/**--ÏÂ±ßÏß±³¾°¶¨Î»--**/
	.WebC_1 .WebCTL,.WebC_1 .WebCTR,.WebC_1 .WebCBL,.WebC_1 .WebCBR{/*background-image:url(../images/WebC_1_R.png); background-repeat:no-repeat; */ height:4px; width:4px; margin-top:-4px;display:none;}/**Ò»¼¶¼¶À¸Ä¿ËÄ¸ö½Ç**/
	  .WebC_1 .WebCTL{background-position:0 0;}/**--ÉÏ×ó½Ç±³¾°¶¨Î»--**/
	  .WebC_1 .WebCTR{background-position:-4px 0px;}/**--ÉÏÓÒ½Ç±³¾°¶¨Î»--**/
	  .WebC_1 .WebCBL{background-position:0 -4px;}/**--ÏÂ×ó½Ç±³¾°¶¨Î»--**/
	  .WebC_1 .WebCBR{background-position:-4px -4px;}/**--ÏÂÓÒ½Ç±³¾°¶¨Î»--**/
  .WebC_1 .WebCML,.WebC_1 .WebCMR{/*background-image:url(../images/WebC_1_LR.png);*/ background-repeat:repeat-y; width:15px; display:none;}/**Ò»¼¶À¸Ä¿×óÓÒ±ßÏß**/
	.WebC_1 .WebCML{background-position:0 0;}/**--×ó±ßÏß±³¾°¶¨Î»--**/
	.WebC_1 .WebCMR{background-position:-15px 0;}/**--ÓÒ±ßÏß±³¾°¶¨Î»--**/
  .WebC_1 .WebCMM{margin:0px 0px;}/**Ò»¼¶¼¶À¸Ä¿ÄÚÈÝÇø**/
/*------¶þ¼¶À¸Ä¿Ô²½ÇµÄ»ù±¾ÉèÖÃ--------------*/
.WebC_2{}/**¶þ¼¶À¸Ä¿Ä£¿é**/
  .WebC_2 .WebCT,.WebC_2 .WebCB{margin:0px 3px; /*display:none;*/}/**¶þ¼¶À¸Ä¿ÉÏÏÂ±ß**/
	.WebC_2 .WebCTM,.WebC_2 .WebCBM{/*background-image:url(../images/WebC_2_TB.png);*/ background-color:#fff; height:2px; overflow:hidden;display:none;}/**¶þ¼¶À¸Ä¿ÉÏÏÂ±ßÏß**/
	.WebC_2 .WebCTM{background-position:0 0; border-top:1px solid #A1E7DC;}/**--ÉÏ±ßÏß±³¾°¶¨Î»--**/
	.WebC_2 .WebCBM{background-position:0 -3px;border-bottom:1px solid #A1E7DC;}/**--ÏÂ±ßÏß±³¾°¶¨Î»--**/
	.WebC_2 .WebCTL,.WebC_2 .WebCTR,.WebC_2 .WebCBL,.WebC_2 .WebCBR{/*background-image:url(../images/WebC_2_R.png);*/ background-repeat:no-repeat;  height:3px; width:3px; margin-top:-3px;display:none;}/**¶þ¼¶À¸Ä¿ËÄ¸ö½Ç**/
	  .WebC_2 .WebCTL{background-position:0 0;}/**--ÉÏ×ó½Ç±³¾°¶¨Î»--**/
	  .WebC_2 .WebCTR{background-position:-3px 0px;}/**--ÉÏÓÒ½Ç±³¾°¶¨Î»--**/
	  .WebC_2 .WebCBL{background-position:0 -3px;}/**--ÏÂ×ó½Ç±³¾°¶¨Î»--**/
	  .WebC_2 .WebCBR{background-position:-3px -3px;}/**--ÏÂÓÒ½Ç±³¾°¶¨Î»--**/
  .WebC_2 .WebCML,.WebC_2 .WebCMR{/*background-image:url(../images/WebC_2_LR.png); background-repeat:repeat-y;*/ width:2px; background-color:#fff;display:none;}/**¶þ¼¶À¸Ä¿×óÓÒ±ßÏß**/
	.WebC_2 .WebCML{background-position:0 0;border-left:1px solid #A1E7DC;}/**--×ó±ßÏß±³¾°¶¨Î»--**/
	.WebC_2 .WebCMR{background-position:-4px 0;border-right:1px solid #A1E7DC;}/**--ÓÒ±ßÏß±³¾°¶¨Î»--**/
  .WebC_2 .WebCMM{ /*margin:0px 2px;*/ background-color:#fff; zoom:1;}/**¶þ¼¶À¸Ä¿ÄÚÈÝÇø**/

/*---------------¹ØÓÚÄ£¿é»ù±¾·ç¸ñµÄÉèÖÃ------------------*/
/*------Ò»¼¶À¸Ä¿»ù±¾ÉèÖÃ--------------*/
  .WebC_1 .WebCMM{border:1px solid #DDDDDD;}/**--Ò»¼¶À¸Ä¿--**/
	.WebC_1_TitleArea,.WebC_1_Title{}/**--Ò»¼¶À¸Ä¿±êÌâ--**/
	.WebC_1_TitleArea{/*background:url(../images/WebC_1_Title.png) repeat-x left bottom;*/ background-color:#F9FDEE; border-bottom:1px solid #DDDDDD;}/**Ò»¼¶À¸Ä¿Ä£¿é±êÌâ**/
	.WebC_1_Title{height:35px;}
	.WebC_1_Con{color:#5a5a5a;}/**--Ò»¼¶À¸Ä¿Ä£¿éÖ÷Ìå--**/
	.WebC_1_Title .FC_Tit1{font:700 14px/35px "Î¢ÈíÑÅºÚ"; margin-left:10px;}
	.WebC_1_Title .FC_Tit1_more{line-height:35px;}
  /*--Ò»¼¶À¸Ä¿±êÌâÎÄ×Ö--*/
	.FC_Tit1,.FC_Tit1 a{color:#377A1D;}/**Ò»¼¶À¸Ä¿±êÌâÎÄ×ÖÑÕÉ«**/
	  .FC_Tit1 a:hover{color:#333333;}/**Ò»¼¶À¸Ä¿±êÌâÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
	.FC_Tit1_more{color:#377A1D;}/**Ò»¼¶À¸Ä¿±êÌâ¸ü¶àÑÕÉ«**/
	  .FC_Tit1_more:hover{color:#377A1D; text-decoration:underline;}/**Ò»¼¶À¸Ä¿±êÌâ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
	.FC_Tit1_a{color:#444;}/**Ò»¼¶À¸Ä¿±êÌâÁ´½ÓÎÄ×ÖÑÕÉ«**/
	  .FC_Tit1_a:hover{color:#377A1D; text-decoration:underline;}/**Ò»¼¶À¸Ä¿±êÌâÁ¬½ÓÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
	.FC_Con1{color:#555555;}/**Ò»¼¶À¸Ä¿ÏÂÄÚÈÝÎÄ×ÖÑÕÉ«**/
	.FC_Con1_more{color:#377A1D;}/**Ò»¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÑÕÉ«**/
	  .FC_Con1_more:hover{color:#377A1D;}/**Ò»¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
	  
/*------¶þ¼¶À¸Ä¿ÎÞÔ²½ÇµÄ»ù±¾ÉèÖÃ--------------*/
  .WebC_2 .WebCMM{border:1px solid #DDDDDD;}/**¶þ¼¶À¸Ä¿Ä£¿é**/
	.WebC_2_TitleArea,.WebC_2_Title{/*height:32px;  background-image:url(../images/title_bg.png);*/}
	.WebC_2_TitleArea{color:#444; background-color:#F9FDEE; /*background-position:right -42px; background-repeat:no-repeat; margin-bottom:5px; padding-right:10px;*/}/**¶þ¼¶À¸Ä¿Ä£¿é±êÌâ**/
	.WebC_2_Title{ /*background-position:0 left; background-repeat:no-repeat; */color:#5a5a5a; position:relative; height:35px;}
	.WebC_2_Con{color:#555;/* border:1px solid #efefef; background-color:#FFEBDA*/}/**¶þ¼¶À¸Ä¿Ä£¿é**/
	.WebC_2_Title{line-height:32px;}
	.WebC_2_Title .FC_Tit2{font:700 14px/35px "Î¢ÈíÑÅºÚ"; margin-left:10px; float:left;}
	.WebC_2_Title .FC_Tit2_more{ margin-right:10px;float:right;}
  /*--¶þ¼¶À¸Ä¿±êÌâ--*/
	.FC_Tit2,.FC_Tit2 a{color:#377A1D;}/**¶þ¼¶À¸Ä¿±êÌâÎÄ×ÖÑÕÉ«**/
	.FC_Tit2 a:hover{color:#333333;text-decoration:underline;}/**¶þ¼¶À¸Ä¿±êÌâÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
	.FC_Tit2_more{color:#377A1D;}/**¶þ¼¶À¸Ä¿±êÌâ¸ü¶àÑÕÉ«**/
	  .FC_Tit2_more:hover{color:#377A1D;}/**¶þ¼¶À¸Ä¿±êÌâ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
	.FC_Tit2_a{color:#555;}/**¶þ¼¶À¸Ä¿±êÌâÎÄ×ÖÑÕÉ«**/
	  .FC_Tit2_a:hover{color:#377A1D;}/**¶þ¼¶À¸Ä¿±êÌâÊó±ê¾­¹ýÎÄ×ÖÑÕÉ«**/
	.FC_Con2{color:#444;}/**¶þ¼¶À¸Ä¿ÏÂÎÄ×ÖÄÚÈÝÑÕÉ«**/
	  .FC_Con2_more{color:#377A1D;}/**¶þ¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÑÕÉ«**/
		.FC_Con2_more:hover{color:#377A1D;}/**¶þ¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/

/*------Èý¼¶À¸Ä¿ÎÞÔ²½ÇµÄ»ù±¾ÉèÖÃ--------------*/
  .WebC_3{border:0px solid #d5d5d5;}/**Èý¼¶À¸Ä¿Ä£¿é**/
  .WebC_3_TitleArea,.WebC_3_Title{}
	.WebC_3_Title{border-bottom:2px solid #ccc; height:32px; position:relative; line-height:32px;color:#444;}/**Èý¼¶À¸Ä¿Ä£¿é±êÌâ**/
	.WebC_3_Con{color:#555;}/**Èý¼¶À¸Ä¿Ä£¿é**/
	.WebC_3_Title .FC_Tit3{ position:absolute; left:0px; bottom:-2px; border-bottom:2px solid #DDDDDD; padding:0px 10px; font-size:14px;}
  /*--Èý¼¶À¸Ä¿±êÌâ--*/
  .FC_Tit3,.FC_Tit3 a{color:#377A1D;}/**Èý¼¶À¸Ä¿±êÌâÎÄ×ÖÑÕÉ«**/
  .FC_Tit3 a:hover{color:#377A1D;}/**Èý¼¶À¸Ä¿±êÌâÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_Tit3_more{color:#377A1D;}/**Èý¼¶À¸Ä¿±êÌâ¸ü¶àÑÕÉ«**/
	.FC_Tit3_more:hover{color:#377A1D;}/**Èý¼¶À¸Ä¿±êÌâ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_Tit3_a{color:#555;}/**Èý¼¶À¸Ä¿±êÌâÎÄ×ÖÑÕÉ«**/
	.FC_Tit3_a:hover{color:#377A1D;}/**Èý¼¶À¸Ä¿±êÌâÊó±ê¾­¹ýÎÄ×ÖÑÕÉ«**/
  .FC_Con3{color:#555;}/**Èý¼¶À¸Ä¿ÏÂÎÄ×ÖÄÚÈÝÑÕÉ«**/
	.FC_Con3_more{color:#377A1D;}/**Èý¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÑÕÉ«**/
	  .FC_Con3_more:hover{color:#377A1D;}/**Èý¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
/*------ËÄ¼¶À¸Ä¿ÎÞÔ²½ÇµÄ»ù±¾ÉèÖÃ--------------*/
  .WebC_4{border:1px solid #DDDDDD;}/**ËÄ¼¶À¸Ä¿Ä£¿é**/
	.WebC_4_TitleArea{border-bottom:1px solid #DDDDDD; background-color:#F9FDEE;/*background:url(../images/WebC_1_Title.png) repeat-x left bottom;*/}/**ËÄ¼¶À¸Ä¿Ä£¿é±êÌâ**/
	.WebC_4_Title{height:30px; line-height:30px; padding-left:10px;}
	.WebC_4_Con{ color:#5a5a5a;}/**ËÄ¼¶À¸Ä¿Ä£¿é**/
	.WebC_4_Title .FC_Tit4{font-size:14px;}
  /*--ËÄ¼¶À¸Ä¿±êÌâ--*/
  .FC_Tit4,.FC_Tit4 a{color:#5a5a5a;}/**ËÄ¼¶À¸Ä¿±êÌâÎÄ×ÖÑÕÉ«**/
  .FC_Tit4 a:hover{color:#CB0A0A;}/**ËÄ¼¶À¸Ä¿±êÌâÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_Tit4_more{color:#5a5a5a;}/**ËÄ¼¶À¸Ä¿±êÌâ¸ü¶àÑÕÉ«**/
	.FC_Tit4_more:hover{color:#377A1D;}/**ËÄ¼¶À¸Ä¿±êÌâ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_Tit4_a{color:#666;}/**ËÄ¼¶À¸Ä¿±êÌâÎÄ×ÖÑÕÉ«**/
	.FC_Tit4_a:hover{color:#377A1D;}/**ËÄ¼¶À¸Ä¿±êÌâÊó±ê¾­¹ýÎÄ×ÖÑÕÉ«**/
  .FC_Con4{color:#5a5a5a;}/**ËÄ¼¶À¸Ä¿ÏÂÎÄ×ÖÄÚÈÝÑÕÉ«**/
	.FC_Con4_more{color:#377A1D;}/**ËÄ¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÑÕÉ«**/
	  .FC_Con4_more:hover{color:#CB0A0A;}/**ËÄ¼¶À¸Ä¿ÏÂÄÚÈÝ¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
	  
/*-----------------ÄÚ²¿tabÑùÊ½--------------*/
 .Inner_Tab{border:1px solid #DDDDDD;}/**ÄÚÒ³tabµÄ±ß¿ò**/
  .Inner_Tab .Inner_Tab_tit{color:#555; border-color:#377A1D;}/**ÄÚÒ³tab±êÌâ**/
  .Inner_Tab_tit .FC_tab_t{color:#377A1D;}
  .Inner_Tab_tit li{border-color:#377A1D; border-width:0px 0px 0 0px;}/*--tab±êÇ©Ïî--*/
  .Inner_Tab_tit li.first{}
  .Inner_Tab_tit li a{color:#555;}/*--tab±êÇ©ÏîÑ¡ÖÐ×´Ì¬--*/
	.Inner_Tab_tit li a:hover{text-decoration:underline; color:#377A1D;}  
	.Inner_Tab_tit li.cur{background-color:#fff; border-color:#377A1D;}/*--tab±êÇ©ÏîÑ¡ÖÐ×´Ì¬--*/
	  .Inner_Tab_tit li.cur a{font-weight:800; color:#377A1D;}/*--tab±êÇ©ÏîÑ¡ÖÐ×´Ì¬ÎÄ×Ö--*/
	.Inner_Tab_con{background-color:#fff;}/**tabÄÚÈÝÇøÓò**/
	.Inner_Tab_con{color:#55555;}/**tabÄÚÈÝÇøÎÄ×ÖÄ¬ÈÏÑÕÉ«**/ 


/*-------------±íµ¥ÔªËØÉæ¼°µ½µÄÑùÊ½-----------------*/
  .FC_label{color:#444;}/**ÊäÈë¿ò×ó±ßµÄÎÄ×Ö**/
  .FC_Star{color:#377A1D;}/**±íµ¥ÖÐ±ØÌîÐÇÐÇÌáÊ¾**/
  .FC_TxtInput{color:#000; border:1px solid #aaa; background-color:#fff;}/**ÊäÈëÓò±ß¿òºÍ±³¾°É«ºÍÎÄ×ÖÑÕÉ«**/
	.FC_TxtInputErr{border:1px solid #c00;}/**ÊäÈëÓò´íÎóÌáÊ¾±ß¿òºÍ±³¾°É«**/
	.FC_TxtInputRight{border:1px solid #00c;}/**ÊäÈëÓòÕýÈ·ÌáÊ¾±ß¿òºÍ±³¾°É«**/
  .FC_TxtArea,textarea{color:#000;border-color:#aaa; background-color:#fff;}/**ÊäÈëÎÄ±¾Óò±ß¿òºÍ±³¾°É«ºÍÎÄ×ÖÑÕÉ«**/
  .FC_normal{color:#000;}
  .FC_err{color:#377A1D;}/**ÊäÈë´íÎóÎÄ×ÖÌáÊ¾**/
  .FC_right{color:#00c;}/**ÊäÈëÕýÈ·ÎÄ×ÖÌáÊ¾**/
  .FC_good{color:#008000;}/**ºÃµÄÌáÊ¾ÎÄ×ÖÑÕÉ«**/
  .FC_bad{color:#377A1D;}/**»µµÄÌáÊ¾ÎÄ×ÖÑÕÉ«**/

/**------------------ÄÚÒ³±í¸ñ»ù±¾ÑùÊ½------------------**/
.DetailTable table,.DetailTable th,.DetailTable td{border-color:#DDDDDD;}
.DetailTable th{background-color:#F0FAFF;}
.DetailTable td{background-color:#fff;}


/*----------------¹ØÓÚÁÐ±íµÄÒ»Ð©ÑùÊ½-----------------*/
  /*-------ÁÐ±íÍâ¹ÛÑùÊ½-------*/
 .P_ListItem_1{/*background-color:#fff;*/ color:#5a5a5a; border-color:#eee;}/**Í¼ÎÄÁÐ±íÏîÑùÊ½-1**/
  .P_ListItem_1:hover,.P_ListItem_1_hover{/*background-color:#fff;*/}/**Í¼ÎÄÁÐ±íÏîÊó±ê¾­¹ýÑÕÉ«-1**/
 .P_ListItem_2{/*background-color:#fff;*/ color:#5a5a5a; border-color:#eee;}/**Í¼ÎÄÁÐ±íÏîÑùÊ½-2**/
  .P_ListItem_2:hover,.P_ListItem_2_hover{background-color:#F9FDEE; border-color:#DDDDDD;}/**Í¼ÎÄÁÐ±íÏîÊó±ê¾­¹ýÑÕÉ«-2**/
 .T_ListItem_1{/*background-color:#fff;*/ border-color:#eee;}/**ÎÄ×ÖÁÐ±íÏîÑùÊ½-1**/
  .T_ListItem_1:hover,.T_ListItem_1_hover{/*background-color:#fff;*/}/**ÎÄ×ÖÁÐ±íÏîÊó±ê¾­¹ýÑÕÉ«-1**/
 .T_ListItem_2{/*background-color:#fff;*/ border-color:#eee;}/**ÎÄ×ÖÁÐ±íÏîÑùÊ½-2**/
  .T_ListItem_2:hover,.T_ListItem_2_hover{background-color:#F9FDEE; border-color:#DDDDDD;}/**ÎÄ×ÖÁÐ±íÏîÊó±ê¾­¹ýÑÕÉ«-2**/
  
  /*-------ÁÐ±íÄÚ²¿ÑùÊ½--------*/
  /*---ÎÄ×ÖÁÐ±í---*/		
  .Tlist_Icon{font-family:"ËÎÌå";}
  .FC_LT,.FC_LT_a{color:#444;}/**ÁÐ±íaÁ¬½ÓÑÕÉ«**/
	.FC_LT_a:hover{color:#377A1D;}/**ÁÐ±íaÁ¬½ÓÑÕÉ«**/
  .FC_LT_time{color:#666;}/**ÁÐ±íÓÒ²àÊ±¼ä**/
  
  /*---Í¼ÎÄÁÐ±í---*/
  .Pic_box{border:solid #ddd 1px;}/**-²úÆ·Í¼Æ¬±ßÏß-**/
  .Pic_box_cur{border-color:#377A1D;}
  .FC_PicName,.FC_PicName a{color:#444; font-weight:bold;}/**Í¼Æ¬Ãû³ÆÎÄ×ÖÑÕÉ«**/
	.FC_PicName a:hover{color:#377A1D;}/**Í¼Æ¬Ãû³ÆÎÄ×Ö¾­¹ýÑÕÉ«**/
  .FC_Piclabel{color:#999;}/**Í¼Æ¬labelÎÄ×ÖÑÕÉ«**/
  .FC_PicPrice_n{color:#377A1D;}/**Í¼Æ¬ÐÂ¼Û¸ñÎÄ×ÖÑÕÉ«**/
  .FC_PicPrice_o{color:#ccc; text-decoration:line-through;}/**Í¼Æ¬¾É¼Û¸ñÎÄ×ÖÑÕÉ«**/
  .FC_PicSummary{color:#666;}/**Í¼Æ¬½éÉÜÎÄ×ÖÑÕÉ«**/
  .FC_PicMore_a{color:#377A1D;}/**Í¼Æ¬¸ü¶àÎÄ×ÖÑÕÉ«**/
  .FC_PicMore_a:hover{color:#377A1D;}/**Í¼Æ¬¸ü¶àÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  
  /*---Àà±ð·ÖÀàÍâ¹ÛÑùÊ½---*/		
  .Class_list{border-color:#DDDDDD; /*background-color:#fff;*/}/**Àà±ðÁÐ±íÑùÊ½**/
	.Class_list:hover,.Class_list_hover{background-color:#F0FAFF;}/**Àà±ðÊó±ê½ø¹ýÁÐ±íÑùÊ½**/

  /*-´óÀà±ðÎÄ×ÖÑÕÉ«-*/
  .FC_BigClass{border-color:#DDDDDD;}
  .FC_BigClass,.FC_BigClass_a,.FC_BigClass a{color:#377A1D;}/**´óÀàÎÄ×ÖÑÕÉ«**/
		.FC_BigClass_a:hover,.FC_BigClass a:hover{color:#377A1D;text-decoration:underline;}/**´óÀàÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_BigClass a.more{color:#377A1D;}
		.FC_BigClass a.more:hover{color:#377A1D;}
  /*-Ð¡Àà±ðÎÄ×ÖÑÕÉ«-*/
  .FC_SmallClass,.FC_SmallClass_a,.FC_SmallClass a{color:#444;}
		.FC_SmallClass_a:hover,.FC_SmallClass a:hover,.FC_SmallClass_a_cur,.FC_SmallClass a.cur{color:#377A1D;}
  .FC_SmallClass a.more{color:#666;}
		.FC_SmallClass a.more:hover{color:#377A1D;}

/*----------------ÎÄÕÂ×îÖÕÒ³ÑùÊ½-----------------*/
  /*-ÎÄÕÂ±êÌâ-*/
  .FC_H1{color:#333;}/**ÎÄÕÂ±êÌâÎÄ×ÖÑÕÉ«-1**/
  .FC_H2{color:#333;}/**ÎÄÕÂ±êÌâÎÄ×ÖÑÕÉ«-2**/
  .FC_H3{color:#333;}/**ÎÄÕÂ±êÌâÎÄ×ÖÑÕÉ«-3**/
  .FC_H4{color:#333;}/**ÎÄÕÂ±êÌâÎÄ×ÖÑÕÉ«-4**/
  .FC_H5{color:#333;}/**ÎÄÕÂ±êÌâÎÄ×ÖÑÕÉ«-5**/
  .FC_H6{color:#333;}/**ÎÄÕÂ±êÌâÎÄ×ÖÑÕÉ«-6**/
  .articleAbstract{color:#ccc;}/*----ÎÄÕÂÕªÒª----*/
  
  
  /*--------Ò»Ð©ÌáÊ¾ÎÄ×ÖÑÕÉ«--------*/
  .FC_crumbs,.FC_crumbs a{color:#333;}/**Ãæ°üÐ¼µÄÎÄ×ÖÑÕÉ«**/
  .FC_crumbs a:hover{color:#377A1D;}/**Ãæ°üÐ¼ÏÂµÄÁ´½ÓÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_Prompt,.FC_Prompt_a{color:#888;}/**»ù±¾ÌáÊ¾ÎÄ×ÖÑÕÉ«**/
	.FC_Prompt_a:hover{color:#c00; text-decoration:underline;}/**»ù±¾ÌáÊ¾ÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_Number,.FC_Number_a{color:#999;}/**Êý×ÖÌáÊ¾ÎÄ×ÖÑÕÉ«**/
	.FC_Number_a:hover{color:#c00;}/**Êý×ÖÌáÊ¾ÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_Time,.FC_Time_a{color:#555;}/**Ê±¼äÌáÊ¾ÎÄ×ÖÑÕÉ«**/
	  .FC_Time_a:hover{color:#333;}/**Ê±¼äÌáÊ¾ÎÄ×ÖÊó±ê¾­¹ýÑÕÉ«**/
  .FC_UserName,.FC_UserName a{color:#666;}/**»áÔ±Ãû³Æ**/
	.FC_UserName a:hover{color:#c00;}/**»áÔ±Ãû³ÆÊó±ê¾­¹ý**/
  .FC_Cutline{color:#ccc;}/**ÎÄ×ÖÊúÏßÑÕÉ«**/
  .FC_Tcaption{color:#000;}/**±í¸ñ±íÍ·ÎÄ×ÖÑÕÉ«**/
  .FC_Tcaption a{color:#377A1D;}/**±í¸ñ±íÍ·Á¬½ÓÎÄ×ÖÑÕÉ«**/
/*----------------¹ØÓÚ±ßÏßºÍµ×É«µÄÒ»Ð©ÑùÊ½-----------------*/
  .add_bd{border:1px solid #ddd;}/**¹ã¸æ±ßÏßÑÕÉ«**/
  .dashed_divide{ border-top:1px dashed #ddd;}/**·Ö½çÐéÏßÑÕÉ«**/
  .solid_divide{border-top:solid #ddd 1px;}/**·Ö½çÊµÏßÏßÑÕÉ«**/
  .prompt_area{border:1px solid #DDDDDD; background-color:#F9FDEE;}/**ÌØÊâÌáÊ¾ÇøÓòÑùÊ½**/
  .bgColor_1{background-color:#fff;}/**ÌáÊ¾ÎÄ×ÖÇøÓò±³¾°-1**/
  .bgColor_2{background-color:#eee;}/**ÌáÊ¾ÎÄ×ÖÇøÓò±³¾°-2**/   
  .outBorderColor{border-color:#ddd;}/**Íâ²¿±ß¿òÑÕÉ«**/

/*---Õ¾µã¹¦ÄÜ²Ëµ¥ÑùÊ½---*/
.secondNavArea{/*background-image:url(../images/site_fn_menu_bg.png);	background-position:0 0; background-repeat:repeat-x;background-image:none;*/ 
	background-color:#F9FDEE;
	border-color:#DDDDDD;
	}
  .secondNav a{color:#666; background-color:#; /*background-image:url();*/}
  .secondNav li.cur a,.secondNav li a:hover{
	 /* background-position:0 -51px;
	  background-repeat:no-repeat;*/
	  background-color:#EDF2CE;
	  color:#666;
	  }
/*--Õ¾µã¹¦ÄÜËÑË÷ÑùÊ½--*/
.secondSearch form{border:1px solid #EDF2CE;background-color:#fff;}
  .secondSearch .keyword{background-color:#fff;border-width:0 1px 0 0;border-style:solid;border-color:#ccc;font:700 14px/24px "Î¢ÈíÑÅºÚ"; }
  .secondSearch .submit{background-color:#EDF2CE; border:0px;color:#666;font:100 14px/20px "arial";}

/*--×ó²àÁÐ±ísidebarÑùÊ½--*/
.sidebar{margin:0px auto 10px; width:210px;}
  .sidebarT,.sidebarB{display:none;}
  .sidebarM{border:1px solid #DDDDDD;}
  /*--×ó²àÁÐ±ísidebar±êÌâÑùÊ½--*/
  .sidebarTit,.sidebarTit strong{/*background-image:url(../images/title_bg.png); background-repeat:no-repeat;*/}
  .sidebarTit{/*background:url(../images/sidebar.png) no-repeat;*/ height:35px;height:35px; white-space:nowrap; overflow:hidden; text-overflow:hidden; color:#377A1D; font:700 14px/32px "Î¢ÈíÑÅºÚ"; border-bottom:1px solid #DDDDDD; background-color:#F9FDEE;}
	.sidebarTit strong{padding-left:20px;}
  /*--×ó²àÁÐ±íÄÚÈÝÑùÊ½--*/
  .sidebarCon{background-color:#fff;}
	.sidebarList{}
	  .sidebarListT,.sidebarListB,.sidebarListM{/*background-image:url(../images/sidebar.png);*/}
		.sidebarListT,.sidebarListB{height:7px; overflow:hidden; display:none;}
		.sidebarListT{}
		.sidebarListB{background-position:0 -31px;}
		.sidebarListM{background-position:-210px 0; width:200px; padding:0px 5px;}
	.sidebarList dl{}
	.sidebarList dt{border-bottom:1px dashed #edece7; height:32px; line-height:30px;font:700 12px/32px "ËÎÌå"; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%;}
	.sidebarList dl.first dt{border-top:0;}
	.sidebarList dt a{color:#444; margin-left:10px;}
	.sidebarList dt a strong{font-weight:bold;}
	.sidebarList dt a:hover,.sidebarList .cur dt a{color:#377A1D;}
	.sidebarList dd{display:none; border-bottom:1px dashed #edece7}
	.sidebarList .cur dd{display:block;}
	.sidebarList li{width:200px; margin:0px auto; line-height:24px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
	.sidebarList li a{color:#555; margin-left:20px;}
	.sidebarList li a:hover,.sidebarList li.hover a{color:#377A1D;}
/**----×ó²àÏÂÄ£¿éµÄÑùÊ½-----**/
	.WebLModule{border:1px solid #DDDDDD; margin-bottom:10px;}
	  .WebLModule .TitleArea{/*background:url(../images/WebC_1_Title.png) repeat-x left bottom;*/ height:30px; border-bottom:1px solid #DDDDDD; background-color:#F9FDEE;}
		.WebLModule .TitleArea strong{color:#377A1D; font:bold 14px/30px "Î¢ÈíÑÅºÚ"; margin-left:10px;}
	  .WebLModule .ConArea{background-color:#fff; padding:5px; line-height:1.5;}
