@charset "UTF-8";
.btn-group .btn,
.text-list-module .inner,
.text-list-module .inner a,
.pic-text-module .pics,
.pic-text-module .pics,
.pic-text-list-module .inner,
.pic-text-list-module .pics,
.pic-text-list-module .pic-title a,
.pic-text-list-module .inner .pic-title,
.pic-text-list-module .inner .oldPrice em,
.pic-text-list-module .inner .newPrice em,
.pic-text-list-module .inner .pic-intro,
.focus-pic-module-1 .focus-controls-list span,
.catalogList dt div,
.classify-module .inner,.classify-module .inner a{
  -webkit-transition-property:border-color,background-color,color;
  -webkit-transition-duration:.5s;
  -webkit-transition-timing-function:ease;
  -moz-transition-property:border-color,background-color,color;
  -moz-transition-duration:.5s;
  -moz-transition-timing-function:ease;
  -ms-transition-property:border-color,background-color,color;
  -ms-transition-duration:.5s;
  -ms-transition-timing-function:ease;
  -o-transition-property:border-color,background-color,color;
  -o-transition-duration:.5s;
  -o-transition-timing-function:ease;
  transition-property:border-color,background-color,color;
  transition-duration:.5s;
  transition-timing-function:ease;
}
/*����缁�*/
.btn-group{}
.btn-group .btn{display: inline-block; border-width: 1px; border-style: solid; margin: 2px 5px 0 0; border:1px solid transparent; vertical-align: middle; cursor: pointer; border-radius: 4px; text-align: center;}
.btn-group .btn-xs{padding:1px 5px; font-size:12px;}
.btn-group .btn-sm{padding:5px 10px; font-size:12px; line-height: 1.5; border-radius: 3px;}
.btn-group .btn-default{padding: 6px 12px; font-size: 14px; line-height: 1.4;}
.btn-group .btn-lg{padding:10px 16px; font-size:18px; line-height: 1.33; border-radius: 6px;}
.btn-group .but-desabled{cursor: no-drop; opacity: 0.5; filter:alpha(opacity:50);}
.btn-group .but-desabled:hover{ opacity: 0.5; filter:alpha(opacity:50);}
/**��瀛���琛ㄦā��**/
.text-list-module{overflow:hidden;}
  .text-list-module li{float: left;}
  .text-list-module .inner{margin:0; position: relative;height:24px; line-height:24px; overflow:hidden; padding:0;}
  .text-list-module .text-list-a{overflow:hidden; display:inline-block;/* width:100%;  text-overflow:ellipsis; white-space:nowrap; */ zoom:1;}
  .text-list-module code{vertical-align: middle; width: 4px; height: 4px; display: inline-block; background-image:url(/images/VNew/text_list_code_bg.jpg); background-repeat: no-repeat; background-position: 0 0; margin: 0 5px 0 0; display: none;}
  .text-list-module a{ font-size:12px;}
/**��瀛���琛ㄦā������1&2**/
  .text-list-module-1 li,.text-list-module-2 li{width: 100%;}
/**��瀛���琛ㄦā������2**/
  .text-list-module-2 .inner{padding-right:70px;}
  .text-list-module-2 .text-list-times{position: absolute; top:0; right:0;}
  .text-list-module-2 .text-list-times a{color: inherit!important; font: inherit!important;}
/**�炬��娣锋��妯″��缁�涓��峰�**/
.pic-text-module{margin:0; overflow:hidden;}
  .pic-text-module .pic-text-module-inner{overflow:hidden;}
  .pic-text-module .pics{border-width:1px; border-style:solid; border-color:#ccc; display: block;}
  .pic-text-module .pic{overflow:hidden; padding:0; display:inline-block; position: relative;}
  .pic-text-module .pic table,.pic-text-module .pic td{width:100%; height:100%;}
  .pic-text-module .pic td{vertical-align:middle; text-align:center;}
  .pic-text-module .text{text-indent:2em; line-height: 24px; font-size: 12px; word-break:normal;}
  .pic-text-module .pic img{max-width:100%;cursor: pointer;}
/**�炬��娣锋��妯″������1**/
  .pic-text-module-1 .pics{margin:0.5em 0.8em 0em 0; float:left;}
  .pic-text-module-1 .pic{width:100px; height:100px;}
/**�炬��娣锋��妯″������2**/
  .pic-text-module-2 .pics{margin:0.5em 0 0em 0.8em; float:right;}
  .pic-text-module-2 .pic{width:100px; height:100px;}
/**�炬��娣锋��妯″������3**/
  .pic-text-module-3 .pics{margin:0.5em 0em;}
  .pic-text-module-3 .pic{height:150px;}
  .pic-text-module-3 .text{ overflow:hidden;}
/**�炬��娣锋��妯″������4**/
  .pic-text-module-4 .pics{margin:0.5em 0em;}
  .pic-text-module-4 .pic{height:150px;}
  .pic-text-module-4 .text{ overflow:hidden;}
/**�炬��娣锋��妯″������5**/
  .pic-text-module-5 .pics{margin:0.5em 0.8em 0 0; float:left;}
  .pic-text-module-5 .pic{width:100px;}
  .pic-text-module-5 .text{ overflow:hidden;}
/**�炬��娣锋��妯″������6**/
  .pic-text-module-6 .pics{margin:0.5em 0 0 0.8em; float:right;}
  .pic-text-module-6 .pic{width:100px;}
  .pic-text-module-6 .text{ overflow:hidden;}
/**��寮��剧��**/
  .pic-module{overflow: hidden;text-align: center;}
  .pic-module a.pics{ display: block; border-width:0; border-style:solid; border-color:#ccc;}
  .pic-module .pic{display: inline-block;}
  /* .pic-module a.pics,.pic-module a.pics img{ width: 100%; height: 100%;} */
/**�炬����琛ㄦā��**/
.pic-text-list-module{margin:0; overflow:hidden;}
  .pic-text-list-module li{overflow:hidden; zoom:1; float: left;}
  .pic-text-list-module .inner:after{content:''; display: table; clear: both;}
  .pic-text-list-module .inner{padding:5px 0; zoom:1; position: relative;}
    .pic-text-list-module .pics{overflow:hidden; text-align: left;border:1px solid #ccc; padding:0; font-size:0; line-height:0; display: block;}
    .pic-text-list-module .pic{overflow:hidden; position: relative; display:inline-block;}
      .pic-text-list-module .pic table{width:100%; height:100%;}
      .pic-text-list-module .pic td{text-align:center; vertical-align:middle;}
    .pic-text-list-module .pic-attr{overflow:hidden;}
    .pic-text-list-module .pic-title{font-weight:bold; overflow:hidden; height:24px; line-height:24px; font-size:14px;}
    .pic-text-list-module .pic-price{padding: 0.2em 0; overflow:hidden; text-align:left; line-height: 16px; height: 16px;}
    .pic-text-list-module .list-shopcar-icon{float: right; width: 30px; height: 30px; background:url(/images/VNew/list_shopcar_icon.png) no-repeat; cursor: pointer;}
    .pic-text-list-module .list-shopcar-icon-add{background-position: 0 0;}
    .pic-text-list-module .list-shopcar-icon-noadd{background-position: 0 -30px;}
    .pic-text-list-module .pic-price:after{content:''; display: table; clear: both;}
      .pic-text-list-module .pic-price .noPrice{color:#AAA !important; fot-size:12px !important;}
      .pic-text-list-module .pic-price b{font-weight:400;}
      .pic-text-list-module .pic-price em{ font-style: normal; font-weight: bold; font-size: 14px;}
      .pic-text-list-module .oldPrice{overflow:hidden; margin-right:5px;}
        .pic-text-list-module .oldPrice em{text-decoration:line-through;}
      .pic-text-list-module .newPrice{overflow:hidden;}
      .pic-text-list-module .pic-price .list-shopcar-icon{display:none;}
    /* ����宸辩����绛� */
    .user-tag-list{padding:3px 0 0 0; height: 30px;}
    .user-tag-list span{display: inline-block; padding:3px 8px; border-style:solid; border-width:1px; border-color:#CCC; color: #888; font-size:12px; margin:0 5px 3px 0;}
    /* 绯荤���绛� */
    .pic-text-list-module .tag-list{overflow: hidden;}
      .pic-text-list-module .tag-list .tag-item{float:left; width: auto; line-height: 24px;}
      .pic-text-list-module .tag-list .tag-item-inner{margin:0 15px 0 0;}
      .pic-text-list-module .tag-list b{}
      .pic-text-list-module .tag-list i{font-style:normal;}
    .pic-text-list-module .pic-intro{line-height:20px; font-size: 12px; word-break: normal; overflow: hidden;}
    .pic-text-list-module .btn-group{overflow: hidden;}
    .pic-text-list-module .btn-group .list-btn-one{margin: 10px 0 0 0; padding:8px 20px; font-size:18px;}
    .pic-text-list-module .btn-group .list-btn-one span{font:inherit;}
/**�炬����琛ㄦā������1**/
.pic-text-list-module-1 li{width: 100%;}
.pic-text-list-module-1 .pics{float: left;margin-right:10px;}
  .pic-text-list-module-1 .pic{ width:100px; height:100px;}
/**�炬����琛ㄦā������2**/
.pic-text-list-module-2 li{width: 100%;}
.pic-text-list-module-2 .pics{float: right;margin-left:10px;}
  .pic-text-list-module-2 .pic{width:100px; height:100px;}
/**�炬��淇℃����琛ㄦā������3**/
  .pic-text-list-module-3 li{}
  .pic-text-list-module-3 .inner{padding: 5px;}
  .pic-text-list-module-3 .pics{margin-bottom:5px;}
  .pic-text-list-module-3 .pic{ width:100px; height:100px;}
  .pic-text-list-module-3 .pic table{width: 100%; height: 100%;}
  .pic-text-list-module-3 .pic-title{ line-height:20px; height:20px; text-align:center; margin-top:5px; overflow:hidden;}
  .pic-text-list-module-3 .pic-attr{width: 100px; overflow: hidden; margin:0 auto;}
/**�炬����琛ㄦā��宸��崇Щ�ㄦ�峰�**/
  .pic-text-list-module-moveL{}
  .pic-text-list-module-moveL ul{float:left; margin:0!important;}
  .pic-text-list-module-moveL li{float:left; width:auto;}
  .pic-text-list-module-moveL li .pic-attr{/* float: left; */}
/**���瑰�炬ā��-1**/
.focus-pic-module{margin:0em; overflow:hidden; width: 100%; height: 100%;}
  .focus-pic-module dl{ position:relative; z-index:2;}
  .focus-pic-module dd{overflow:hidden; position:absolute; left:0; top:0; z-index:1; text-align:center;}
  .focus-pic-module dd a{display:inline-block;}
  .focus-pic-module .focus-controls-list{position:absolute; bottom:10px; width:100%; text-align:center; z-index:5;}
  .focus-pic-module .focus-pic-next,.focus-pic-module .focus-pic-prev{position:absolute; width:0; height:0; z-index:5; cursor:pointer;  overflow:hidden; top:50%; margin-top:-20px; visibility:hidden;}
  .focus-pic-module .focus-pic-prev{left:5px; border-width:20px 15px 20px 0; border-style:dashed solid dashed dashed; border-color:transparent #ccc transparent transparent;}
  .focus-pic-module .focus-pic-next{right:5px; border-width:20px 0 20px 15px; border-style:dashed dashed dashed solid; border-color:transparent transparent transparent #ccc;}
.focus-pic-module-1 .focus-controls-list span{display:inline-block; width:15px; height:15px; margin-right:5px; cursor:pointer; border-width:1px; border-style:solid; text-align:center; line-height:15px; font-size:12px; font-family:arial; background-color:#fff;}
  .focus-pic-module-1 .focus-controls-list span.cur{font-weight:bold;}
.focus-pic-module-2 .focus-controls-list span{display:inline-block; width: 8px; height: 8px; border-radius: 4px; margin-right:5px; cursor:pointer; border-width:1px; border-style:solid; text-align:center; line-height:15px; font-size:12px; font-family:arial; background-color:#fff;}
/**��褰㈢��褰�妯″��**/
.catalogList{ overflow:hidden; position:relative;}
  .catalogList .but{position:absolute; width:20px; height:20px; right:0; background-color:#666; z-index:4; opacity:0.4; filter:alpha(opacity=40); display:none; border-radius: 3px;}
  .catalogList .but small{width:0; height:0; overflow:hidden;display:block; position:absolute; left:2px; cursor:pointer;}
  .catalogList .upBut{top:0;}
    .catalogList .upBut small{border-color:transparent transparent #fff transparent; border-style:dashed dashed solid dashed; top:5px; border-width:0 8px 10px; }
  .catalogList .downBut{bottom:0;}
    .catalogList .downBut small{border-color:#fff transparent transparent transparent;  border-style:solid dashed dashed dashed; top:5px; border-width:10px 8px 0;}
  .catalogList dt{overflow: hidden;}
  .catalogList dt div{line-height:24px; height:24px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; border-width: 0 0 1px; border-style: dashed;}
    .catalogList dt span{}
  .catalogList .oneClassC,.catalogList .twoClassC,.catalogList .threeClassC{display:none;}
  .catalogList code{display:inline-block; vertical-align:middle; width:10px; height:10px; cursor:pointer; font-size:0; line-height:0; background-repeat:no-repeat;}
    .catalogList .oneClassT code{background-position:0 0;}
      .catalogList .oneClassThover code{background-position:0 -10px;}
      .catalogList .oneClassTopen code{background-position:0 -20px;}
      .catalogList .oneClassTinner a{font-size: 14px; font-weight: 700;}
    .catalogList .twoClassTinner{margin-left: 10px;}
    .catalogList .twoClassT code{background-position:0 -30px;}
      .catalogList .twoClassThover code{background-position:0 -40px;}
      .catalogList .twoClassTopen code{background-position:0 -50px;}
    .catalogList .threeClassTinner{margin-left: 20px;}
    .catalogList .threeClassT code{background-position:0 -30px;}
    .catalogList .threeClassThover code{background-position:0 -40px;}
    .catalogList .threeClassTopen code{background-position:0 -40px;}
  .catalogList .oneClassCopen,.catalogList .twoClassCopen,.catalogList .threeClassCopen{display:block;}
/**�藉�寮���褰�妯″��**/
.menu-catalog-module{position:relative;}
.menu-catalog-module .one-class{overflow: hidden;}
  .menu-catalog-module .one-class-inner{ font-size:0;border-width:0 0 1px; border-style:solid solid dashed solid; padding:2px 0 2px 5px; border-color:#eee #eee #ccc #eee;}
    .menu-catalog-module .one-class code{display:inline-block; margin:0 5px 0 0;}
    .menu-catalog-module .one-class code img{vertical-align: middle;}
    .menu-catalog-module .one-class strong{line-height:36px; font-weight: 400; display:inline-block; font-size: 14px; color:#999;}
    .menu-catalog-module .one-class a{color:#666;}
    .menu-catalog-module .one-class-hover .one-class-inner{ padding:0 2px 1px 3px;border-width:2px 0 2px 2px; border-style:solid; background-color:#f5f5f5; border-color:#c0c0c0; }
    .menu-catalog-module .one-class-hover strong{color:#444;}
    .menu-catalog-module .one-class-hover a{color:#444;}
    .menu-catalog-module .one-class-hover a:hover{color:#222; text-decoration: underline;}
/**�藉�寮���褰��村�**/
.menu-catalog-more-module{height:0; width:0;}
  .menu-catalog-more{position:absolute; left:0; top:0; z-index: 2000; width:0; overflow:hidden;}
  .menu-catalog-more .gap{height:30px; width:2px; position:absolute; left:0; top:45px; z-index: 5; background-color: #f5f5f5;}
  .menu-catalog-more .catalog-more-inner{ width:450px; overflow:hidden; border-width:2px; border-style:solid; border-color:#c0c0c0; background-color:#f5f5f5;}
  .menu-catalog-more .catalog-more-list{margin:5px 15px; display:none;}
  .menu-catalog-more .catalog-more-item{zoom:1; padding:0.5em 0; border-bottom:1px dashed #bbb; }
  .menu-catalog-more .catalog-more-item:after,.menu-catalog-more .catalog-more-item:before{content:""; display:table;}
  .menu-catalog-more .catalog-more-item:after{clear:both;}
  .menu-catalog-more .two-class{ line-height: 24px;font-size:14px; float:left;}
  .menu-catalog-more .two-class a{font-weight: bold; display: inline-block;color:#555; }
  .menu-catalog-more .two-class a:hover{color:#454545;}
  .menu-catalog-more .three-class{padding-top:0.5em; line-height:100%; overflow: hidden;}
  .menu-catalog-more .three-class a{display: inline-block; color:#666;}
  .menu-catalog-more .three-class a:hover{color:#565656;}
  .menu-catalog-more i.v-line{font-style: normal; display:inline-block;  margin: 0 0.5em 0.5em; color:#bbb;}

  /* 楂�绾ф�藉�妯″�� */
.absolute-menu-catalog .m-c-h,.absolute-menu-catalog .m-c-b,
.absolute-menu-catalog .o-l-e,.absolute-menu-catalog .o-l-e-i,
.absolute-menu-catalog .o-l-h,.absolute-menu-catalog .o-l-h-i,.absolute-menu-catalog .o-l-h-t,
.absolute-menu-catalog .o-l-b,.absolute-menu-catalog .o-l-b-l,.absolute-menu-catalog .o-l-b-l-e,
.absolute-menu-catalog .m-c-b-i,.absolute-menu-catalog .m-c-m-i,.absolute-menu-catalog .m-c-m-e,.absolute-menu-catalog .m-c-m-r,
.absolute-menu-catalog .c-l-w,.absolute-menu-catalog .c-l,.absolute-menu-catalog .c-l-e,
.absolute-menu-catalog .t-l-w,.absolute-menu-catalog .t-l-w-i,.absolute-menu-catalog .t-l,.absolute-menu-catalog .t-l-i,
.absolute-menu-catalog .t-l-h,
.absolute-menu-catalog .t-l-b,.absolute-menu-catalog .t-l-b-i,.absolute-menu-catalog .t-l-b-l,.absolute-menu-catalog .t-l-b-l-e,
.absolute-menu-catalog .add-l-w,.absolute-menu-catalog .add-l-w-i,.absolute-menu-catalog .add-l,.absolute-menu-catalog .add-l-i,.absolute-menu-catalog .add-l-e{overflow: hidden;}
.absolute-menu-catalog .m-c-h-i,
.absolute-menu-catalog .o-l-h-t-i,.absolute-menu-catalog .o-l-b-l-e-i,
.absolute-menu-catalog .c-l-e-i{transition: all .5s ease;}
.absolute-menu-catalog,.absolute-menu-catalog .m-c-m,.absolute-menu-catalog .gap{position:absolute;}
  .absolute-menu-catalog .a-m-c{width: 210px;}
  .absolute-menu-catalog .a-m-c-i{}
  /* �藉���琛ㄦ��棰� */
  .absolute-menu-catalog .m-c-h{}
    .absolute-menu-catalog .m-c-h-i{display:block; padding:10px; font-weight:400; font-size:16px; line-height:100% !important; font-family: '寰�杞���榛�'; background-color: #FFF;}
  .absolute-menu-catalog .m-c-h-open .m-c-h-i{background-color: #C00; color: #FFF;}
  /* �藉���琛ㄥ��瀹� */
  .absolute-menu-catalog .m-c-b{display: none;}
  .absolute-menu-catalog .m-c-b-i{background-color: #FFF; height: 490px;}
  .absolute-menu-catalog .a-m-c-open .m-c-b{display: block;}
  /* �藉���琛ㄤ�绾х被�峰� */
  .absolute-menu-catalog .o-l-e{position: relative; z-index: 1;}
      .absolute-menu-catalog .o-l-e-i{border-bottom: 1px dotted #EEE;}
      .absolute-menu-catalog .o-l-e-open .o-l-e{z-index: 2;}
      .absolute-menu-catalog .o-l-e-open .o-l-e-i{background-color: #F5F5F5;}
        .absolute-menu-catalog .o-l-h-n{float: left; padding: 0px 10px 0 5px;}
        .absolute-menu-catalog .o-l-h-n img{width: 100%; height: 100%;}
        .absolute-menu-catalog .o-l-h-t{text-align:left; display: block; margin:7px 0 0 0;}
        .absolute-menu-catalog .o-l-h-t-i{ line-height: 100% !important; display: inline-block;}
      /* 涓�绾х被��绛惧��琛� */
      .absolute-menu-catalog .o-l-b-l{margin:0 -5px 0 0;}
      .absolute-menu-catalog .o-l-b-l-e{float: left; width: auto; }
      .absolute-menu-catalog .o-l-b-l-e-i{display: block; margin: 5px 5px 5px 0; padding: 3px 5px; line-height: 100% !important;}
      .absolute-menu-catalog .o-l-b-l-e-hot .o-l-b-l-e-i,.absolute-menu-catalog .o-l-b-l-e-hot .o-l-b-l-e-i:hover{color: red;}
  /* �藉���琛ㄦ�村� */
  .absolute-menu-catalog .m-c-m{display: none;}
  /*.absolute-menu-catalog .a-m-c-open .m-c-m{display: block;}*/
    .absolute-menu-catalog .gap{background-color: #FFF; left: 0; width: 2px;}
    .absolute-menu-catalog .m-c-m-i{ background-color: #FFF; border:0; width: 700px; height: 490px;}
    .absolute-menu-catalog .m-c-m-e{display: none;}
    .absolute-menu-catalog .m-c-m-e-open{display: block;}
    .absolute-menu-catalog .m-c-m-l{float: left; width: 500px;}
    /* �ㄨ��棰�����琛� */
    .absolute-menu-catalog .c-l-w-i{padding: 10px 10px 0;}
    .absolute-menu-catalog .c-l{margin: 0 -5px 0 0;}
      .absolute-menu-catalog .c-l-e{float: left;}
      .absolute-menu-catalog .c-l-e-i{display: block; padding:5px 10px; margin: 5px 5px 0; background-color: #EEE; line-height: 100% !important;}
    /* 浜�绾у��琛� */
    .absolute-menu-catalog .t-l-w-i{padding: 0 5px;}
    .absolute-menu-catalog .t-l{float: left; width: 100%; }
    .absolute-menu-catalog .t-l-i{border-bottom:1px dotted #CCC; padding:10px 5px;}
    /*��棰�*/
      .absolute-menu-catalog .t-l-h{float: left; width: 100px;}
        .absolute-menu-catalog .t-l-h-i{padding: 0 15px 0 5px; margin:0;}
        .absolute-menu-catalog .t-l-h-t{display: block; text-align: left;}
        .absolute-menu-catalog .t-l-h-t-i{font-size:14px; line-height: 100% !important;}
    /*��瀹�*/
      .absolute-menu-catalog .t-l-b-l{margin:0 -5px 0 0;}
      .absolute-menu-catalog .t-l-b-l-e{float: left;}
      .absolute-menu-catalog .t-l-b-l-e-i{margin: 0 5px 0 0; display: block; padding: 3px 5px; line-height: 100%;}
      .absolute-menu-catalog .t-l-b-l-e-hot .t-l-b-l-e-i{color: red;}
    /* 骞垮�� */
      .absolute-menu-catalog .add-l-w-i{border:0; padding:5px 0;}
      .absolute-menu-catalog .add-l-e{float: left; width: 100%;}
      .absolute-menu-catalog .add-l-e-i{display: block; height: 100px;  border:1px solid #DDD; margin:5px; overflow: hidden;}
        .absolute-menu-catalog .add-l-e-i img{width: 100%;}
/**��绀轰俊��**/
.form-prompt{position:absolute; left:0; top:0; right:0; width:100%; text-align: center;}
  .form-prompt .prompt-text{display:inline-block;  background-color:#fff; border:1px solid #ccc; max-width: 90%; border-radius: 0 0 5px 5px; box-shadow:1px 1px 2px rgba(0,0,0,0.5);}
  .form-prompt .prompt-text b{display:inline-block; padding:5px 10px; font-size:14px; color:#c00; font-weight: 400; text-align: left; line-height:20px;}
/**浼����诲�妯″��**/
.member-login-module{margin:1em 0 0; overflow:hidden;}
.member-login-module .form-prompt{display:none;}
  .member-login-module .item-list{zoom:1; margin-bottom: 10px;}
  .member-login-module .item-list:after,.member-login-module .item-list:before{content:"";display:table;}
  .member-login-module .item-list:after{ clear:both; }
  .member-login-module .item-name,.member-login-module .item-con{float: left;}
  .member-login-module .item-name{ width:60px; line-height:28px; padding-left:1em;text-align-last:justify;}
  .member-login-module .item-name em{font-style: normal;}
  .form-module .item-name em.red-star{color:#F00; padding: 0 5px;}
      .member-login-module .item-name:after{display:inline-block;overflow:hidden;width:100%;height:0;content:'';}
.member-login-module .form-text{display:inline-block; padding:3px; border-width:1px; border-style:solid;}
  .member-login-module .form-text input{ height:20px; line-height:20px; padding:0; border:0; font-size:12px; background-color:transparent;}
  .member-login-module .user-id,.member-login-module .user-password{ width:140px;}
  .member-login-module .user-captcha{width:50px;}
  .member-login-module .captcha-img{margin-left:10px; width:50px; display: inline-block; padding:3px; vertical-align: top; cursor:pointer;}
    .member-login-module .captcha-img img{width:100%; vertical-align: middle;}
  .member-login-module .save-forget{width:100%;}
  .member-login-module .save-password{padding-left:2em;}
  .member-login-module .captcha-change{ font-style:normal; cursor: pointer;}
    .member-login-module .forget-password{float:right; margin-right:2em;}
    .member-login-module .form-checkbox{vertical-align: middle; width:14px; height: 14px;}
  .member-login-module .form-button{text-align:center; margin-left:0;}
  .member-login-module .form-but{display:inline-block; width:95%; height:35px; border:0; line-height:35px; text-align:center; cursor:pointer; border-width:1px; border-style:solid; border-radius:5px; margin-bottom:10px; line-height:100%;box-sizing:border-box;}
  .member-login-module .user-register{text-align:right; padding-right:2em;}
/**浼����诲���妯″��**/
.member-info-module{margin:1em 0 0; overflow:hidden;}
  .member-info-module .member-portrait{width:100px; height:100px; float:left; margin:0 2em 2em 0;}
    .member-info-module .member-portrait img{width:100%; height:100%;}
  .member-info-module .member-info-list{overflow:hidden; line-height:26px;}
/**琛ㄥ��妯″��**/
.form-module{margin:0; overflow:hidden;}
.form-module dt.form-title{font-size:14px; line-height:24px; padding:0.5em 0;}
.form-module .dashedLine{height:0; border-width:0 0 1px; border-style:dashed; margin-bottom:12px;}
  .form-module .item-list{zoom:1;margin-bottom: 5px;}
  .form-module .item-list:after,.form-module .item-list:before{content:"";display:table;}
  .form-module .item-list:after{ clear:both; }
  .form-module .item-name,.form-module .item-con{ overflow: hidden;}
  .form-module .item-name{ float:left; width:80px; line-height:28px; text-align-last:justify;}
    .form-module .item-name em{font-style: normal;}
       .form-module .item-name:after{display:inline-block;overflow:hidden;width:100%;height:0;content:'';}
       .form-module .form-explain{line-height:20px; padding:2px;}
       .form-module .item-infotext{padding-top:5px; line-height:20px;}
  .form-module .checkbox-label,.form-module .radio-label{ line-height:28px; margin-right:10px;}
  .form-module .form-text{display:inline-block; padding:3px; border-width:1px; border-style:solid;}
    .form-module .form-text input{ height:20px; line-height:20px; padding:0; border:0; font-size:12px; background-color:transparent; outerline:none;}
  .form-module .form-radio,.form-module .form-checkbox{vertical-align: middle; width:14px; height: 14px; margin:0 5px 0 0;}
  .form-module .form-select{display:inline-block; margin:0 5px 5px 0;}
  .form-module .form-textarea{border-width:1px; border-style:solid; padding:3px; display:inline-block;}
    .form-module .form-textarea textarea{width:200px; height:80px; resize:none;border:0; font-size:12px; background-color:transparent; padding:0; outerline:none;}
    .form-module .vcode-img{display: inline-block; width:100px; height: 33px; vertical-align: middle; margin-right: 2px;}
    .form-module .vcode-img img{width: 100%; height: 100%;}
    .form-module .form-text-vcode input{width: 80px;}
  .form-module .form-button{margin-left:100px;}
  .form-module .form-but{display:inline-block; width:65px; height:30px; border:0; line-height:30px; text-align:center; cursor:pointer; border-width:1px; border-style:solid; border-radius:5px; margin-bottom:10px; line-height: 100%;box-sizing:border-box; padding: 0;}
/**�ㄧ嚎瀹㈡��妯″��**/
.onlineModule{margin:0em 0em; overflow:hidden;}
  .onlineModule h5{ font-size:12px; font-weight:bold; line-height:30px;}
  .onlineModule p{height:22px; line-height:22px; padding:0 0 5px 10px;}
  .onlineModule p b{font-weight:400; margin-right:5px;}
  .onlineModule p span{}
  .onlineModule .dashedLine{margin:8px 5px;}
/**--琛ㄦ��--**/
  .tableModule{}
  .tableModule table,.tableModule td{border-width:1px; border-style:solid; border-color:#ccc;}
  .tableModule table{width:100%; border-collapse:collapse; border-spacing:0; table-layout: fixed;}
  .tableModule td{ line-height:30px; height:30px; /*min-width:100px; zoom:expression(this.innerHTML==""?(this.innerHTML="&nbsp;"):0);*/}
  .tableModule td.tdcol{text-align:center;background-color:#efefef; font-weight: bold;}
/**�����炬��**/
.links-module{}
.links-module .text-links{}
  .links-module .text-links ol{margin: 0 -12px;}
  .links-module .text-links li{float: left;}
  .links-module .text-links .inner{ margin:0  12px 6px;}
  .links-module .text-links .inner code{display: none;}
  .links-module .text-links a{font-size: 12px;}
.links-module .image-links{overflow:hidden;}
.links-module .image-links ul{margin: 0;}
  .links-module .image-links li{float:left;}
  .links-module .image-links .inner{padding:0 6px 5px;}
  .links-module .image-links .pics{display: block;}
  .links-module .image-links .pic,.links-module .image-links td{width:175px; height:53px;}
  .links-module .image-links img{max-width:100%; max-height:100%; vertical-align: middle; display:inline-block;}
  .links-module .image-links b{display: block; text-align:center; line-height: 24px;}
/*��绛惧���㈡ā��*/
.tab-switch-module{border:1px solid #ccc; overflow: hidden;}
  .tab-switch-module .tab-switch-t{ height:30px; border-width:0 0 1px; border-style:solid; position:relative; border-color:#ccc; background-color:#f5f5f5;}
  .tab-switch-module .tab-switch-t ul{position:absolute; left:0; top:0; overflow: hidden;}
  .tab-switch-module .tab-t-item{float:left;}
  .tab-switch-module .tab-t-item span{display:inline-block; cursor: pointer; width:100px; height: 30px; overflow:hidden; text-align: center; border-width:0 1px 0 0; border-style:solid; line-height:30px; background-color:#efefef; border-color:#ccc;}
  .tab-switch-module .tab-t-item span.active{height:31px; line-height:31px; background-color:#fff;}
  .tab-switch-module .tab-switch-c{border-width:0; padding:1px; border-style: solid; border-color:#ccc;}
  .tab-switch-module .tab-c-item{display:none; margin:5px;}
  .tab-switch-module .tab-c-item-active{display:block;}
/*澶у���绫绘ā��*/
.classify-module:after,.classify-module dl:after,.classify-module ol:after{content:""; display: table; clear: both;}
  .classify-module dl,.classify-module ol{zoom:1;}
  .classify-module .classify-wrap,.classify-module dt,.classify-module dd{overflow: hidden;}
  .classify-module .classify-list{border-width:0 0 1px; border-style:dashed dotted dashed double; border-color:#ccc;}
  .classify-module .big-classify-wrap{float: left;}
  .classify-module .big-classify-list{}
  .classify-module .big-classify{width:80px; float:left;}
  .classify-module .big-classify .inner{line-height:34px; height: 34px; padding: 0 0 0 10px;}
  .classify-module .big-classify a{ font-size:12px; font-weight:700; }
  .classify-module .small-classify-list{padding: 6px 5px 0;}
  .classify-module .small-classify,.classify-module .small-pic-classify{float: left;}
  .classify-module .small-classify .inner{padding:0 5px; margin:0 15px 6px 0; height:20px; line-height: 20px;}
  .classify-module .small-classify a{font-size: 12px; }
  .classify-module .small-classify-list .classify-hover .inner{background-color: #eee;}
  .classify-module .small-classify-list .classify-hover a{color: #c00;}
  .classify-module .small-classify-list .classify-hover a:hover{color: #c00; text-decoration: underline;}
  .classify-module .small-classify-list .classify-cur .inner{background-color: #c00;}
  .classify-module .small-classify-list .classify-cur a{color:#fff;}
  .classify-module .small-classify-list .classify-cur a:hover{color:#fff;}
  /* �����剧����琛� */
  .classify-module .small-pic-classify-list{padding: 6px 5px 12px;}
  .classify-module .small-pic-classify{ margin: 0 -1px -1px 0;  position: relative; z-index: 1;}
  .classify-module .small-pic-classify .inner{border-width: 1px; border-style: solid; border-color: #CCC; width: 108px; height: 48px; overflow: hidden; font-size: 0; line-height: 0; position:relative}
  .classify-module .small-pic-classify .inner a{display: block; position: relative;}
  .classify-module .small-pic-classify .img,.classify-module .small-pic-classify .txt{display: block; height: 48px; text-align: center;}
  .classify-module .small-pic-classify .img{font-size: 0;}
    .classify-module .small-pic-classify .img i{display: inline-block; height: 100%; width:1px; vertical-align:middle; margin-right: -1px;}
    .classify-module .small-pic-classify .img img{vertical-align: middle; max-width: 100%; max-height: 100%;}
    .classify-module .small-pic-classify .txt{font-size: 12px; line-height: 48px;}
  .classify-module .pic-classify-hover,.classify-module .pic-classify-cur{z-index: 2;}
  .classify-module .pic-classify-hover .inner,.classify-module .pic-classify-cur .inner{border-color: #FF9100;}
    .classify-module .pic-classify-hover .inner a,.classify-module .pic-classify-no-img .inner a{top: -48px;}
    .classify-module .pic-classify-cur .inner a{top: -1px;}
    .classify-module .pic-classify-no-img.pic-classify-cur .inner a{top: -49px;}
    .classify-module .pic-classify-cur .inner{border-width: 2px; width: 106px; height: 46px;}

/**row-class list**/
.rowClass_c{}
  .rowClass_c dl{overflow:hidden; zoom:1; padding:10px;}
  .rowClass_c dl.first{border-top:none;}
  .rowClass_c dt{display:block; line-height:25px; font-size:14px; font-weight:700; padding-left:10px; border-width:0 0 1px; margin-bottom:5px;}
  .rowClass_c dd{width:220px; float:left; line-height:30px; height:30px; font-size:14px;}
  .rowClass_c dd a:hover{text-decoration:none;}
/* manual-move-module */
.manual-move-module{position: relative;}
  .manual-move-module .prev-move,.manual-move-module .next-move{position:absolute; width:28px; height:56px; background-image:url(/images/VNew/manual_move_btn.png); top: 50%; margin-top: -28px; z-index: 2; cursor: pointer; visibility: hidden;}
  .manual-move-module .prev-move{background-position:0 0; left: 0;}
  .manual-move-module .next-move{background-position:-28px 0; right: 0;}
  .manual-move-module .manual-move-body{overflow: hidden;}
  .manual-move-module .manual-move-body li{}
  .manual-move-module .manual-move-body .inner{margin:0 5px;}
  .manual-move-module .manual-move-body .pics{display: block;}
  .manual-move-module .manual-move-body .pic{width: 100px; height: 100px;}


/* 澶у�绫绘�峰� */
.classify-module .o-l-e,.classify-module .o-l-e-i,
.classify-module .o-l-h,.classify-module .o-l-h-i,.classify-module .o-l-h-t,
.classify-module .o-l-b,.classify-module .o-l-b-l,.classify-module .o-l-b-l-e{overflow: hidden;}
/* 涓�绾х被�峰� */
  .classify-module .o-l-e{position: relative; z-index: 1;}
      .classify-module .o-l-e-i{border-bottom: 1px dotted #EEE;}
      .classify-module .o-l-e-open .o-l-e{z-index: 2;}
      .classify-module .o-l-e-open .o-l-e-i{background-color: #F5F5F5;}
        .classify-module .o-l-h{}
        .classify-module .o-l-h-n{float: left; padding: 0px 10px 0 0; display: none;}
        .classify-module .o-l-h-n img{width: 100%; height: 100%;}
        .classify-module .o-l-h-t{text-align:left; display: block; margin:10px 0;}
        .classify-module .o-l-h-t-i{ line-height: 100%; display: inline-block;}
      /* 涓�绾х被��绛惧��琛� */
      .classify-module .o-l-b-l{margin:0 -5px 0 0;}
      .classify-module .o-l-b-l-e{float: left; width: auto;}
      .classify-module .o-l-b-l-e-i{display: block; margin: 0 10px 10px 0; padding: 0; line-height: 100%;}
      .classify-module .o-l-b-l-e-hot .o-l-b-l-e-i,.classify-module .o-l-b-l-e-hot .o-l-b-l-e-i:hover{color: red;}