@import url("../../../css/iconimgSkin/red/iconStyle.css");
@charset "UTF-8";
/* CSS Document */
/*	Date:2012-12-14;
	author:qwguo;
	purpose:??????��????����????????��??;
*/
/*---------------???????��???????????��?????????��???????????��??------------------*/
/*------???????????????����??��??--------------*/
.WebC_1{}/**?????????????��**/
  .WebC_1 .WebCT,.WebC_1 .WebCB{margin:0px 4px;}/**??????????????��?**/
	.WebC_1 .WebCTM,.WebC_1 .WebCBM{/*background-image:url(http://img3.ev123.com/others2/WebC_1_TB.png);*/ height:0px; overflow:hidden;display:none;}/**??????????????��???**/
	.WebC_1 .WebCTM{background-position:0 0;}/**--??��???��??��?��??--**/
	.WebC_1 .WebCBM{background-position:0 -15px; border-bottom:1px solid #91e2d9; height:3px; background-color:#fff;}/**--??��???��??��?��??--**/
	.WebC_1 .WebCTL,.WebC_1 .WebCTR,.WebC_1 .WebCBL,.WebC_1 .WebCBR{/*background-image:url(http://img3.ev123.com/others2/WebC_1_R.png); background-repeat:no-repeat; */ height:4px; width:4px; margin-top:-4px;display:none;}/**????????????????**/
	  .WebC_1 .WebCTL{background-position:0 0;}/**--??����??��??��?��??--**/
	  .WebC_1 .WebCTR{background-position:-4px 0px;}/**--??????��??��?��??--**/
	  .WebC_1 .WebCBL{background-position:0 -4px;}/**--??����??��??��?��??--**/
	  .WebC_1 .WebCBR{background-position:-4px -4px;}/**--??????��??��?��??--**/
  .WebC_1 .WebCML,.WebC_1 .WebCMR{/*background-image:url(http://img3.ev123.com/others2/WebC_1_LR.png);*/ background-repeat:repeat-y; width:15px; display:none;}/**????????����??��???**/
	.WebC_1 .WebCML{background-position:0 0;}/**--������???��??��?��??--**/
	.WebC_1 .WebCMR{background-position:-15px 0;}/**--??��???��??��?��??--**/
  .WebC_1 .WebCMM{margin:0px 0px;}/**????????????????**/
/*------???????????????����??��??--------------*/
.WebC_2{ background-color:#FFF;}/**???????????��**/
  .WebC_2 .WebCT,.WebC_2 .WebCB{margin:0px 3px; /*display:none;*/}/**????????????��?**/
	.WebC_2 .WebCTM,.WebC_2 .WebCBM{/*background-image:url(http://img3.ev123.com/others2/WebC_2_TB.png);*/ background-color:#fff; height:2px; overflow:hidden;display:none;}/**????????????��???**/
	.WebC_2 .WebCTM{background-position:0 0; border-top:1px solid #A1E7DC;}/**--??��???��??��?��??--**/
	.WebC_2 .WebCBM{background-position:0 -3px;border-bottom:1px solid #A1E7DC;}/**--??��???��??��?��??--**/
	.WebC_2 .WebCTL,.WebC_2 .WebCTR,.WebC_2 .WebCBL,.WebC_2 .WebCBR{/*background-image:url(http://img3.ev123.com/others2/WebC_2_R.png);*/ background-repeat:no-repeat;  height:3px; width:3px; margin-top:-3px;display:none;}/**??????????????**/
	  .WebC_2 .WebCTL{background-position:0 0;}/**--??����??��??��?��??--**/
	  .WebC_2 .WebCTR{background-position:-3px 0px;}/**--??????��??��?��??--**/
	  .WebC_2 .WebCBL{background-position:0 -3px;}/**--??����??��??��?��??--**/
	  .WebC_2 .WebCBR{background-position:-3px -3px;}/**--??????��??��?��??--**/
  .WebC_2 .WebCML,.WebC_2 .WebCMR{/*background-image:url(http://img3.ev123.com/others2/WebC_2_LR.png); background-repeat:repeat-y;*/ width:2px; background-color:#fff;display:none;}/**????????����??��???**/
	.WebC_2 .WebCML{background-position:0 0;border-left:1px solid #A1E7DC;}/**--������???��??��?��??--**/
	.WebC_2 .WebCMR{background-position:-4px 0;border-right:1px solid #A1E7DC;}/**--??��???��??��?��??--**/
  .WebC_2 .WebCMM{ /*margin:0px 2px; background-color:#fff;*/ zoom:1;}/**??????????????**/

/*---------------???????��?����?��??????��??------------------*/
/*------?????????����??��??--------------*/
  .WebC_1 .WebCMM{/*border:1px solid #FED1D4;*/}/**--????????--**/
	.WebC_1_TitleArea,.WebC_1_Title{}/**--????????����??--**/
	.WebC_1_TitleArea{/*background:url(http://img3.ev123.com/others2/WebC_1_Title.png) repeat-x left bottom; background-color:#FFF5F4; border-bottom:1px solid #FED1D4;*/}/**???????????������??**/
	.WebC_1_Title{height:35px; background-color:#B64D4A;}
	.WebC_1_Con{color:#5a5a5a; border:1px solid #ccc; background-color:#fff;}/**--???????????��?��??--**/
	.WebC_1_Title .FC_Tit1{font:700 14px/35px "???��????"; margin-left:10px;}
	.WebC_1_Title .FC_Tit1_more{line-height:35px;}
  /*--????????����????��?--*/
	.FC_Tit1,.FC_Tit1 a{color:#fff;}/**????????����????��?????**/
	  .FC_Tit1 a:hover{color:#fff;}/**????????����????��??������????????**/
	.FC_Tit1_more{color:#fff;}/**????????����???��?��????**/
	  .FC_Tit1_more:hover{color:#fff; text-decoration:underline;}/**????????����???��?��??��??������????????**/
	.FC_Tit1_a{color:#fff;}/**????????����????????��?????**/
	  .FC_Tit1_a:hover{color:#fff; text-decoration:underline;}/**????????����????????��??������????????**/
	.FC_Con1{color:#555555;}/**????????????????��?????**/
	.FC_Con1_more{color:#B94C47;}/**???????????????��?��??��?????**/
	  .FC_Con1_more:hover{color:#B94D4D;}/**???????????????��?��??��??������????????**/
	  
/*------?????????????????����??��??--------------*/
  .WebC_2 .WebCMM{border:0px solid #FED1D4;}/**???????????��**/
	.WebC_2_TitleArea,.WebC_2_Title{/*height:32px;  background-image:url(http://img3.ev123.com/others2/title_bg.png);*/}
	.WebC_2_TitleArea{/*color:#444; background-color:#FFF5F4; background-position:right -42px; background-repeat:no-repeat; margin-bottom:5px; padding-right:10px;*/}/**???????????������??**/
	.WebC_2_Title{ /*background-position:0 left; background-repeat:no-repeat; */color:#fff; position:relative; height:35px; background-color:#B64D4A;}
	.WebC_2_Con{color:#555; border:1px solid #ccc; background-color:#fff;/**/}/**???????????��**/
	.WebC_2_Title{line-height:32px;}
	.WebC_2_Title .FC_Tit2{font:700 14px/35px "???��????"; margin-left:10px; float:left;}
	.WebC_2_Title .FC_Tit2_more{ margin-right:10px;float:right;}
  /*--????????����??--*/
	.FC_Tit2,.FC_Tit2 a{color:#fff;}/**????????����????��?????**/
	.FC_Tit2 a:hover{color:#fff;text-decoration:underline;}/**????????����????��??������????????**/
	.FC_Tit2_more{color:#fff;}/**????????����???��?��????**/
	  .FC_Tit2_more:hover{color:#fff;}/**????????����???��?��??��??������????????**/
	.FC_Tit2_a{color:#fff;}/**????????����????��?????**/
	  .FC_Tit2_a:hover{color:#fff;}/**????????����???������??????��?????**/
	.FC_Con2{color:#444;}/**????????????��?????????**/
	  .FC_Con2_more{color:#B94C47;}/**???????????????��?��??��?????**/
		.FC_Con2_more:hover{color:#B94D4D;}/**???????????????��?��??��??������????????**/

/*------?????????????????����??��??--------------*/
  .WebC_3{border:0px solid #d5d5d5;}/**???????????��**/
  .WebC_3_TitleArea,.WebC_3_Title{}
	.WebC_3_Title{border-bottom:2px solid #ccc; height:32px; position:relative; line-height:32px;color:#444;}/**???????????������??**/
	.WebC_3_Con{color:#555;}/**???????????��**/
	.WebC_3_Title .FC_Tit3{ position:absolute; left:0px; bottom:-2px; border-bottom:2px solid #FED1D4; padding:0px 10px; font-size:14px;}
  /*--????????����??--*/
  .FC_Tit3,.FC_Tit3 a{color:#B94C47;}/**????????����????��?????**/
  .FC_Tit3 a:hover{color:#B94D4D;}/**????????����????��??������????????**/
  .FC_Tit3_more{color:#B94C47;}/**????????����???��?��????**/
	.FC_Tit3_more:hover{color:#B94D4D;}/**????????����???��?��??��??������????????**/
  .FC_Tit3_a{color:#555;}/**????????����????��?????**/
	.FC_Tit3_a:hover{color:#B94D4D;}/**????????����???������??????��?????**/
  .FC_Con3{color:#555;}/**????????????��?????????**/
	.FC_Con3_more{color:#B94C47;}/**???????????????��?��??��?????**/
	  .FC_Con3_more:hover{color:#B94D4D;}/**???????????????��?��??��??������????????**/
/*------?????????????????����??��??--------------*/
  .WebC_4{border:1px solid #FED1D4;}/**???????????��**/
	.WebC_4_TitleArea{border-bottom:1px solid #FED1D4; background-color:#FFF5F4;/*background:url(http://img3.ev123.com/others2/WebC_1_Title.png) repeat-x left bottom;*/}/**???????????������??**/
	.WebC_4_Title{height:30px; line-height:30px; padding-left:10px;}
	.WebC_4_Con{ color:#5a5a5a;}/**???????????��**/
	.WebC_4_Title .FC_Tit4{font-size:14px;}
  /*--????????����??--*/
  .FC_Tit4,.FC_Tit4 a{color:#5a5a5a;}/**????????����????��?????**/
  .FC_Tit4 a:hover{color:#CB0A0A;}/**????????����????��??������????????**/
  .FC_Tit4_more{color:#5a5a5a;}/**????????����???��?��????**/
	.FC_Tit4_more:hover{color:#A50409;}/**????????����???��?��??��??������????????**/
  .FC_Tit4_a{color:#666;}/**????????����????��?????**/
	.FC_Tit4_a:hover{color:#A50409;}/**????????����???������??????��?????**/
  .FC_Con4{color:#5a5a5a;}/**????????????��?????????**/
	.FC_Con4_more{color:#A50409;}/**???????????????��?��??��?????**/
	  .FC_Con4_more:hover{color:#CB0A0A;}/**???????????????��?��??��??������????????**/
	  
/*-----------------????tab?��??--------------*/
 .Inner_Tab{border:1px solid #FED1D4;}/**????tab??��??��**/
  .Inner_Tab .Inner_Tab_tit{background:url(http://img3.ev123.com/others1/Inner_Tab_tit.png) repeat-x left bottom; color:#555; border-color:#B94C47;}/**????tab����??**/
  .Inner_Tab_tit .FC_tab_t{color:#B94D4A;}
  .Inner_Tab_tit li{border-color:#B94C47; border-width:0px 0px 0 0px;}/*--tab����????--*/
  .Inner_Tab_tit li.first{}
  .Inner_Tab_tit li a{color:#555;}/*--tab����????????��???--*/
	.Inner_Tab_tit li a:hover{text-decoration:underline; color:#B94C47;}  
	.Inner_Tab_tit li.cur{background-color:#fff; border-color:#B94C47;}/*--tab����????????��???--*/
	  .Inner_Tab_tit li.cur a{font-weight:800; color:#B94C47;}/*--tab����????????��?????��?--*/
	.Inner_Tab_con{background-color:#fff;}/**tab???????��**/
	.Inner_Tab_con{color:#55555;}/**tab????????��?????????**/ 


/*-------------����?????????��?????��??-----------------*/
  .FC_label{color:#444;}/**?????��������?????��?**/
  .FC_Star{color:#c00;}/**����????��????????��??**/
  .FC_TxtInput{color:#000; border:1px solid #aaa; background-color:#fff;}/**?????����??��??��??��??????��?????**/
	.FC_TxtInputErr{border:1px solid #c00;}/**?????��?��?��?��??��??��??��??��??**/
	.FC_TxtInputRight{border:1px solid #00c;}/**?????��???��?��??��??��??��??��??**/
  .FC_TxtArea,textarea{color:#000;border-color:#aaa; background-color:#fff;}/**??????��??����??��??��??��??????��?????**/
  .FC_normal{color:#000;}
  .FC_err{color:#c00;}/**?????��?��??��??��??**/
  .FC_right{color:#00c;}/**???????��??��??��??**/
  .FC_good{color:#008000;}/**?????��????��?????**/
  .FC_bad{color:#c00;}/**?????��????��?????**/

/**------------------????����???����??��??------------------**/
.DetailTable table,.DetailTable th,.DetailTable td{border-color:#FED1D4;}
.DetailTable th{background-color:#FEF4F3;}
.DetailTable td{background-color:#fff;}


/*----------------??????����???????��??-----------------*/
  /*-------??����?????��??-------*/
 .P_ListItem_1{/*background-color:#fff;*/ color:#5a5a5a; border-color:#eee;}/**??????����???��??-1**/
  .P_ListItem_1:hover,.P_ListItem_1_hover{/*background-color:#fff;*/}/**??????����???������????????-1**/
 .P_ListItem_2{/*background-color:#fff;*/ color:#5a5a5a; border-color:#eee;}/**??????����???��??-2**/
  .P_ListItem_2:hover,.P_ListItem_2_hover{background-color:#FFF5F4; border-color:#FED1D4;}/**??????����???������????????-2**/
 .T_ListItem_1{/*background-color:#fff;*/ border-color:#eee;}/**??��???����???��??-1**/
  .T_ListItem_1:hover,.T_ListItem_1_hover{/*background-color:#fff;*/}/**??��???����???������????????-1**/
 .T_ListItem_2{/*background-color:#fff;*/ border-color:#eee;}/**??��???����???��??-2**/
  .T_ListItem_2:hover,.T_ListItem_2_hover{background-color:#FFF5F4; border-color:#FED1D4;}/**??��???����???������????????-2**/
  
  /*-------??����?????��??--------*/
  /*---??��???����---*/		
  .Tlist_Icon{font-family:"????";}
  .FC_LT,.FC_LT_a{color:#444;}/**??����a????????**/
	.FC_LT_a:hover{color:#B94D4D;}/**??����a????????**/
  .FC_LT_time{color:#666;}/**??����???��?��??**/
  
  /*---??????����---*/
  .Pic_box{border:solid #ddd 1px;}/**-?��?��????��???-**/
  .Pic_box_cur{border-color:#FED1D4;}
  .FC_PicName,.FC_PicName a{color:#444; font-weight:bold;}/**??????????��?????**/
	.FC_PicName a:hover{color:#B94D4D;}/**??????????��?????????**/
  .FC_Piclabel{color:#999;}/**????label??��?????**/
  .FC_PicPrice_n{color:#B94C47;}/**????????????��?????**/
  .FC_PicPrice_o{color:#ccc; text-decoration:line-through;}/**????????????��?????**/
  .FC_PicSummary{color:#666;}/**?????��????��?????**/
  .FC_PicMore_a{color:#B94D4D;}/**?????��?��??��?????**/
  .FC_PicMore_a:hover{color:#B94D4D;}/**?????��?��??��??������????????**/
  
  /*---?����?��??��?????��??---*/		
  .Class_list{border-color:#FED1D4; /*background-color:#fff;*/}/**?����???����?��??**/
	.Class_list:hover,.Class_list_hover{background-color:#FEF4F3;}/**?����??������??????����?��??**/

  /*-?��?����???��?????-*/
  .FC_BigClass{border-color:#FED1D4;}
  .FC_BigClass,.FC_BigClass_a,.FC_BigClass a{color:#B94D4D;}/**?��?��??��?????**/
		.FC_BigClass_a:hover,.FC_BigClass a:hover{color:#B94D4D;text-decoration:underline;}/**?��?��??��??������????????**/
  .FC_BigClass a.more{color:#B94D4D;}
		.FC_BigClass a.more:hover{color:#B94D4D;}
  /*-???����???��?????-*/
  .FC_SmallClass,.FC_SmallClass_a,.FC_SmallClass a{color:#444;}
		.FC_SmallClass_a:hover,.FC_SmallClass a:hover,.FC_SmallClass_a_cur,.FC_SmallClass a.cur{color:#B94D4D;}
  .FC_SmallClass a.more{color:#666;}
		.FC_SmallClass a.more:hover{color:#B94D4D;}

/*----------------????��??????��??-----------------*/
  /*-????����??-*/
  .FC_H1{color:#333;}/**????����????��?????-1**/
  .FC_H2{color:#333;}/**????����????��?????-2**/
  .FC_H3{color:#333;}/**????����????��?????-3**/
  .FC_H4{color:#333;}/**????����????��?????-4**/
  .FC_H5{color:#333;}/**????����????��?????-5**/
  .FC_H6{color:#333;}/**????����????��?????-6**/
  .articleAbstract{color:#ccc;}/*----????????----*/
  
  
  /*--------?????��????��?????--------*/
  .FC_crumbs,.FC_crumbs a{color:#333;}/**??�㨹??????��?????**/
  .FC_crumbs a:hover{color:#CB0A0A;}/**??�㨹????????????��??������????????**/
  .FC_Prompt,.FC_Prompt_a{color:#888;}/**?����??��????��?????**/
	.FC_Prompt_a:hover{color:#c00; text-decoration:underline;}/**?����??��????��??������????????**/
  .FC_Number,.FC_Number_a{color:#999;}/**??��??��????��?????**/
	.FC_Number_a:hover{color:#c00;}/**??��??��????��??������????????**/
  .FC_Time,.FC_Time_a{color:#555;}/**?��???��????��?????**/
	  .FC_Time_a:hover{color:#333;}/**?��???��????��??������????????**/
  .FC_UserName,.FC_UserName a{color:#666;}/**?��?��????**/
	.FC_UserName a:hover{color:#c00;}/**?��?��?????������????**/
  .FC_Cutline{color:#ccc;}/**??��??��??????**/
  .FC_Tcaption{color:#000;}/**����??����?��??��?????**/
  .FC_Tcaption a{color:#B94C47;}/**����??����?��??????��?????**/
/*----------------????��??????��?????????��??-----------------*/
  .add_bd{border:1px solid #ddd;}/**????��???????**/
  .dashed_divide{ border-top:1px dashed #ddd;}/**��????��??????**/
  .solid_divide{border-top:solid #ddd 1px;}/**��?????????????**/
  .prompt_area{border:1px solid #FED1D4; background-color:#FFF5F4;}/**?????��?????��?��??**/
  .bgColor_1{background-color:#fff;}/**?��????��????����??��-1**/
  .bgColor_2{background-color:#eee;}/**?��????��????����??��-2**/   
  .outBorderColor{border-color:#ddd;}/**????��??��????**/

/*---?????????????��??---*/
.secondNavArea{/*background-image:url(http://img3.ev123.com/others2/site_fn_menu_bg.png);	background-position:0 0; background-repeat:repeat-x;background-image:none;*/ 
	background-color:#B64D4A;
	border-color:#B64D4A;
	}
  .secondNav a{color:#fff; /*background-image:url();*/}
  .secondNav li.cur a,.secondNav li a:hover{
	 /* background-position:0 -51px;
	  background-repeat:no-repeat;*/
	  background-color:#E8625F;
	  color:#fff;
	  }
/*--???????????��?��??--*/
.secondSearch form{border:1px solid #D9494F;background-color:#fff;}
  .secondSearch .keyword{background-color:#fff;border-width:0 1px 0 0;border-style:solid;border-color:#ccc;font:700 14px/24px "???��????"; }
  .secondSearch .submit{background-color:#F46C72; border:0px;color:#fff;font:100 14px/20px "arial";}

/*--����?��??����sidebar?��??--*/
.sidebar{margin:0px auto 10px; width:210px;}
  .sidebarT,.sidebarB{display:none;}
  .sidebarM{border:0px solid #FED1D4;}
  /*--����?��??����sidebar����???��??--*/
  .sidebarTit,.sidebarTit strong{/*background-image:url(http://img3.ev123.com/others2/title_bg.png); background-repeat:no-repeat;*/}
  .sidebarTit{/*background:url(http://img3.ev123.com/others2/sidebar.png) no-repeat;*/ height:35px; white-space:nowrap; overflow:hidden; text-overflow:hidden; color:#fff; font:700 14px/32px "???��????";  background-color:#B64D4A;}
	.sidebarTit strong{padding-left:20px;}
  /*--����?��??����?????��??--*/
  .sidebarCon{background-color:#fff; border:1px solid #ccc;}
	.sidebarList{}
	  .sidebarListT,.sidebarListB,.sidebarListM{/*background-image:url(http://img3.ev123.com/others2/sidebar.png);*/}
		.sidebarListT,.sidebarListB{height:7px; overflow:hidden; display:none;}
		.sidebarListT{}
		.sidebarListB{background-position:0 -31px;}
		.sidebarListM{background-position:-210px 0; width:200px; padding:0px 4px;}
	.sidebarList dl{}
	.sidebarList dt{border-bottom:1px dashed #edece7; height:32px; line-height:30px;font:700 12px/32px "????"; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%;}
	.sidebarList dl.first dt{border-top:0;}
	.sidebarList dt a{color:#444; margin-left:10px;}
	.sidebarList dt a strong{font-weight:bold;}
	.sidebarList dt a:hover,.sidebarList .cur dt a{color:#B94D4D;}
	.sidebarList dd{display:none; border-bottom:1px dashed #edece7}
	.sidebarList .cur dd{display:block;}
	.sidebarList li{width:200px; margin:0px auto; line-height:24px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
	.sidebarList li a{color:#555; margin-left:20px;}
	.sidebarList li a:hover,.sidebarList li.hover a{color:#B94D4D;}
/**----����?��?????��???��??-----**/
	.WebLModule{ margin-bottom:10px;}
	  .WebLModule .TitleArea{/*background:url(http://img3.ev123.com/others2/WebC_1_Title.png) repeat-x left bottom;*/ height:30px; background-color:#B64D4A; font:bold 14px/30px "???��????";}
		.WebLModule .TitleArea strong{color:#fff; margin-left:10px;}
		.WebLModule .TitleArea a{color:#fff;}
	  .WebLModule .ConArea{background-color:#fff;border:1px solid #ccc; padding:4px; line-height:1.5;}
